<% if @accounts.any? %>
<div class='container'>
  <h1>Your Userpubs</h1>
  <table class="table table-bordered">
    <thead><tr><th>Name</th><th>Subdomain</th><th>Custom Domain</th><th>JWT Secret (Hover to Reveal)</th><th>Actions</th></thead>
    <tbody>
      <% @accounts.each do |account| %>
      <tr><th><%= account.name %></th><td><%= link_to account.subdomain, "http://#{account.subdomain}.#{ENV['APP_HOST']}" %></td><td><%= link_to account.host, "http://#{account.host}/" if account.host %></td><td class="secret"><%= account.secret %></td><td><%= link_to "Edit", edit_account_path(account), class: "btn btn-primary btn-xs" %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<% end %>

<div class="container"><div class="row">
  <div class="col-md-4">
    <h2>New Accounts</h2>
    <p>Userpub is a little different from most apps. We aren't going to make your
      users create yet another password just to be able to chat. Instead Userpub
      uses <%= link_to "Single Sign-On", "https://github.com/userpub/userpub/wiki/Single-Sign-On", target: "_blank" %>
      to seamlessly integrate with your application.</p>
    
    <p>We provide you with your own subdomain on userpub.com that you can use for as
      long as you'd like, but if you want to use your own domain name just enter
      one on the right and create a <code>CNAME</code> record pointing to your
      Userpub subdomain.</p>
  </div>
  <div class="col-md-8"><%= render "accounts/form", account: Account.new %></div>
</div></div>